:root {
  --brand-yellow: #F79F11;
  --brand-pink: #ED685A;
  --brand-mauve: #51294B;
  --brand-lavender: #ECEEFE;
  --brand-baby-white: #FFFFF7;
  --brand-black: #1F1F25;
  --logo-font: 'Petit Formal Script', cursive;
  --body-font: 'Open Sans', sans-serif;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 62.5%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.15;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--brand-black);
  font-family: var(--body-font);
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: left;
  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
}

label {
  font-weight: $label-font-weight;
  margin-bottom: 1rem;
}

legend {
  font-weight: $legend-font-weight;
}

code,
pre {
  font-family: $font-family-monospace;
}

.d-flex {
  display: flex;
}

.container {
  padding-right: 100px;
  padding-left: 100px;
}
