<div class="d-flex about-section container">
  <div class="about-img">
    <img src="https://i0.wp.com/infinibx.com/wp-content/uploads/2022/12/20221107-NVP-8933.jpg?resize=1024%2C1024&ssl=1" alt="team photo">
  </div>
  <div class="about-text">
    <h3>Wer wir sind</h3>
    <p>We are working women, creative souls, fashion-enthusiasts, friends, partners, and mothers who share a love for the environment.
    <br>
    Our desire to protect our planet, the future of our children, and to support other women and families brought us together with a vision for a more circular attitude to maternity fashion.
    <br>
    At Infini, we stand for eco-friendly and fair fashion, self-care, authenticity, and inclusivity, over short-lived trends. We put circular economy into practise, with our rental model ensuring all clothes are worn to their full potential.
    <br>
    Beyond renting clothes, we are building a community - our Infini family.
    </p>
  </div>
  <div class="star">✺</div>
</div>
