<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Mama, du verdienst ein besonderes Geschenk.
      </h1>

      <p class="subtitle">
        Geschenkgutscheine im Wert von bis zu 100€ für unsere Abo-Boxen im Frühjahr 2023, die ab sofort erhältlich sind.
      </p>
    </div>
  </div>
</section>
