<section class="hero">
  <%# <div class="hero__container"> %>
  <%# </div> %>
  <video style="width: 100vw; height: 580px; object-fit: cover" autoplay muted loop>
      <source src="https://infini.fra1.digitaloceanspaces.com/infini_website_low_2.mp4" type="video/mp4">
  </video>
  <div class="header-text">
    <h1>Eine Abo-Box für dich und deine Mutterschaftsreise</h1>
    <p class="sub-header">ab März 2023</p>
  </div>
</section>
