<section class="hero">
  <%# <div class="hero__container"> %>
  <%# </div> %>
  <video style="width: 100vw; height: 580px; object-fit: cover" autoplay muted loop>
      <source src="https://cdn-user.veed.io/render/8f8285d1-4447-42b3-a5b0-8d04041e17d1.mp4#t=0.001" type="video/mp4">
  </video>
  <div class="hero__message">
    <h1 class="hero-title">
      Mama, du verdienst ein schönes Geschenk.
    </h1>

    <p class="subtitle">
      Geschenkgutscheine im Wert von bis zu 100€ für unsere Abo-Boxen im Frühjahr 2023, die ab sofort erhältlich sind.
    </p>
  </div>
</section>
