<section class="hero">
  <%# <div class="hero__container"> %>
  <%# </div> %>
  <video style="width: 100vw; height: 580px; object-fit: cover" autoplay muted loop>
      <source src="https://infini.fra1.digitaloceanspaces.com/infini-4.mp4" type="video/mp4">
  </video>
  <div class="hero__message">
    <h1 class="hero-title">
      Mama, du verdienst ein schönes Geschenk.
    </h1>

    <p class="subtitle">
      Geschenkgutscheine im Wert von bis zu 100€ für unsere Abo-Boxen im Frühjahr 2023, die ab sofort erhältlich sind.
    </p>
  </div>
</section>
