<div class="steps-section">
  <h3>Wie funktioniert es?</h3>
  <div class="steps d-flex">
    <div class="step step-1">
      <img src="<%= asset_path '1.jpg'%>" alt="woman receiving parcel" class="step-1-img">
      <div class="text">
        <h5>Erhalte unsere Auswahl</h5>
        <p>
          an nachhaltiger Umstands- und Stillkleidung, die auf dich, deine Mutterschaft und deinen Style zugeschnitten ist.
        </p>
      </div>
    </div>
    <div class="step step-2">
      <img src="<%= asset_path '2.jpg'%>" alt="woman receiving parcel" class="step-2-img">
      <div class="text">
        <h5>Trage und liebe sie</h5>
        <p>
          so lange, wie sie dir passt. Weniger Zeit für die Suche nach der richtigen Kleidung bedeutet, dass du dich mehr um dein Baby kümmern kannst.
        </p>
      </div>
    </div>
    <div class="step step-3">
      <img src="<%= asset_path '3.jpg'%>" alt="woman receiving parcel" class="step-3-img">
      <div class="text">
        <h5>Schicke sie zurück,</h5>
        <p>
          sodass andere Mütter sich genauso daran erfreuen können wie du. Gemeinsam können wir die Mode nachhaltiger gestalten!
        </p>
      </div>
    </div>
  </div>
</div>
