.hero {
  color: $color-copy-bright;
  // padding: 10rem 0;
  background-size: cover;
  background-position: center;

  &__container {
    @extend %section-spacings;
    display: flex;
  }

  .header-text {
    font-family: var(--header-font);
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -350px;
    margin-bottom: -150px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .sub-header {
    font-size: 2rem;
  }
}
